@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.title {
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px rgb(4, 43, 12);
}

.title-name strong {
    color: rgb(55, 189, 89);
}

.important-name {
    font-size: 4.5vw;
    color: rgb(49, 104, 66);
}

.contact {
    width: 50%;
    margin: auto;
}

.contact h1 {
    font-size: 60px !important;
}

.contact p {
    font-size: 30px;
    margin: 5% 0%;
}

@media screen and (max-width: 600px) {
    .important-name {
        font-size: 25px;
    }

    .contact {
        width: 100%;
    }

    .contact h1 {
        font-size: 35px !important;
    }

    .contact p {
        font-size: 18px;
        margin: 1% 0%;
    }
}


.highlight {
    color: rgb(55, 189, 89);
}

.alt-resume {
    background-color: #2c2d2c;
}

body {
    color: white !important;
    background-color: #333 !important;
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior: smooth !important;
}

.logo {
    width: 250px;
    height: 190px;
}

.content {
    width: 90%;
    margin: auto;
}

.navbar {
    font-size: 1.3rem;
    padding: 1% 4%;
}

.navbar-brand {
    font-size: 1.7rem;
}

.splash-container {
    background-color: #111;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    opacity: 1;
    transition: all 250ms linear;
}

.splash-container-hidden {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1000;
    opacity: 0;
    transition: all 250ms linear 3s;
}

.splash-shown {
    animation: ani 1s linear;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.splash-hidden {
    opacity: 0;
    transition: all 250ms linear 2s;
}

.welcome-display {
    position: relative;
    text-align: center;
    margin: auto;
    padding: 10% 0;
}

.bi {
    font-size: 2rem;
}

.btn-main {
    background-color: rgb(66, 114, 77);
    border-color: rgb(66, 114, 77);
    margin: 5px;
}

.btn-main:hover {
    transform: scale(1.1);
    background-color: rgb(115, 168, 128);
    border-color: rgb(115, 168, 128);
    animation: puff .1s linear;
}

.btn-main:active {
    background-color: rgb(56, 88, 65) !important;
    border-color: rgb(56, 88, 65) !important;
    box-shadow: none;
}

@keyframes puff {
    0% {
        transform: scale(1);
        background-color: rgb(66, 114, 77);
        border-color: rgb(66, 114, 77);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        background-color: rgb(115, 168, 128);
        border-color: rgb(115, 168, 128);
    }
}

.footer {
    background-color: rgb(46, 46, 46);
    height: 70px;
    padding-top: 25px;
    margin-top: 1%;
}

.footer-text {
    font-size: .85rem;
    margin-left: 4%;
    margin-right: 4%;
}


.about {
    height: auto;
    width: 90%;
    margin: 2% auto 10%;
    background-color: #2c2d2c;
    border-radius: 20px;
    padding: 35px;
}


@media screen and (max-width: 600px) {
    .footer-text {
        font-size: 10px;
    }

    .about {
        width: 100%;
        padding: 5px;
    }
}

.short-profile {
    height: 100vh;
}

.short-profile p {
    font-size: 24px;
    text-align: left;
}

.profile-box {
    padding: 2%;
    margin: 1%;
    height: 105%;
}

.profile-box p {
    padding: 2%;
    font-size: 24px !important;
    text-align: justify;
    text-indent: 2rem;
}

.profile-quote {
    padding: 20px;
    margin: 2%;
    background-color: rgb(49, 104, 66);
    border-radius: 25px;
}

.profile-quote h5 {
    font-size: 28px !important;
}

.coolthing {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: #333;
}

@media screen and (max-width: 1920px) {
    .coolthing {
        height: 150vh;
    }
}

@media screen and (max-width: 600px) {
    .profile-box p {
        font-size: 18px !important;
    }

    .profile-quote h5 {
        font-size: 20px !important;
    }
}


.small-socials {
    margin: auto;
    text-align: center;
}

.si {
    font-size: 1.5rem;
    margin-bottom: 0%;
}

.greeting {
    margin-top: 0%;
    margin-bottom: 25%;
    text-align: left;
    height: auto;
}

.greeting h1 {
    font-size: 150px;
    padding: 3% 0%;
}

.greeting h5 {
    padding: 5% 0% 0%;
    font-size: 35px;
}

.greeting p {
    padding: 3% 0%;
    font-size: 40px;
}

.btn-offer {
    margin-top: 3%;
    font-size: 40px;
    padding: 25px;
}

#about {
    padding-top: 5%;
}

.resume {
    margin: auto;
    width: 50%;
}

@media screen and (max-width: 600px) {
    .greeting {
        margin-top: 10%;
        height: 150vh;
    }

    .greeting h1 {
        font-size: 36px;
    }

    .greeting h5 {
        font-size: 20px;
    }

    .greeting p {
        font-size:18px;
    }

    .btn-offer {
        font-size: 20px;
        padding: 15px;
    }

    #about {
        padding-top: 2%;
    }

    .resume {
        width: 100%;
    }
}

.greeting strong {
    color:rgb(55, 189, 89)
}

.btn-guide {
    margin: 4% 2%;
    width: 80% ;
    padding: 10px;
    font-size: 30px !important;
}

.guide-bubble {
    background-color: rgb(56, 97, 61);
    border-radius: 25px;
    width: 40%;
    padding: 5% 0%;
    margin: 5% auto;
}

.guide-bubble p {
    text-align: left;
    font-size: 30px;
    width: 75%;
    margin: 5% auto;
}

.guide-bubble .btn-guide {
    font-size: 45px;
}

.guide-bubble .container {
    width: 75%;
}

@media screen and (max-width: 600px) {
    .guide-bubble {
        width: 100%;
    }

    .guide-bubble p {
        font-size: 18px;
    }

    .guide-bubble .btn-guide {
        font-size: 25px;
    }

    .guide-bubble .container {
        width: 100%;
    }
}

.nav-link {
    color: rgb(217, 217, 217);
}

.nav-link:hover {
    color: rgb(55, 189, 89);
}

.control-arrow {
    border-radius: 10px;
}

.carousel-item {
    object-fit: cover;
    max-width:100%;
    max-height:85vh;
    margin: auto;
}

.carousel .thumb {
    height: 45px;
    width: 80px;
    border-radius: 5px;
}

.carousel-container {
    margin: 3% 5%;
}

.carousel-container h1 {
    width: inherit;
    margin: auto auto 5%;
    padding: 20px;
    border-radius: 25px;
}

.slider-wrapper.axis-horizontal {
    border-radius: 10px;
}

.control-arrow.control-prev {
    width: 60px;
}

.control-arrow.control-next {
    width: 60px;
}

.big-socials {
    margin: 20% 0% 5%;
}

.big-socials h2 {
    margin-bottom: 3%;
}

.email {
    margin: 10% 0% 10%;
}

.email span {
    display: flex;
}

.email span i {
    font-size: 32px;
    margin: auto 0% auto auto;
}

.email h2 {
    margin-bottom: 3%;
}

.email span h3 {
    font-size: 27px;
    margin: auto auto auto 5%;
}

.btn-email {
    width: 250px;
}

.skills-showcase {
    background-color: rgb(59, 59, 59);
    border-radius: 20px;
    text-align: center;
    width: 80%;
    margin: 0% auto 10%;
    text-shadow: 2px 2px rgb(4, 43, 12);
}

.skill-banner {
    font-size: 50px !important;
}

@media screen and (max-width: 600px) {
    .skill-banner {
       font-size: 23px !important;
    }

    .skills-showcase {
        width: 100%;
    }
}

.fade-in {
    transition: opacity 0.25s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.25s ease;
}

.resume-base {
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
    height: 100%;
    margin: auto;
}

.text-link {
    color: rgb(67, 211, 83);
}

.text-link:link {
    text-decoration: none;

}

.text-link:visited {
    text-decoration: none;
}

.text-link:hover {
    text-decoration: none;
    color: rgb(169, 255, 182);
}

.text-link:active {
    text-decoration: none;
}

.list-group-item {
    background-color: inherit;
    color: inherit;
}

.my-card {
    background-color: #2c2d2c;
    padding: 5%;
    border-radius: 10px;
    height: 95%;
    margin: 10% 0%;
    transform: scale(1.0);
    transition: background-color 100ms linear, transform 100ms linear;
}

.my-card:hover {
    background-color: rgb(56, 88, 65);
    transform: scale(1.1);
}

.my-card:active {
    background-color: rgb(115, 168, 128);
    transform: scale(1.05);
}

.img-feature {
    width: 100%;
    height: auto;
    padding: 0%;
}

.project-focus {
    text-align: center;
    font-size: 25px;
}

.kg-image-card {
    float: left;
    width: 50%;
    margin: auto 2%;
    border: 5px solid #2c2d2c;
}

.project-focus .kg-image {
    width: 100%;
    height: auto;
    margin: auto;
}


@media screen and (max-width: 600px) {
    .kg-image-card {
       width: 100%;
    }

    .project-focus {
        font-size: 18px;
    }
}
.kg-button-card {
    display: inline;
}

.kg-btn {
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #fff;
    box-shadow: 3px 2px rgb(255, 255, 255);
}

.kg-btn:hover {
    background-color: #fff;
    color: #2c2d2c;
    box-shadow: 3px 2px rgb(41, 41, 41);
    transition: background-color 100ms linear, color 100ms linear, box-shadow 100ms linear;
}

.project-focus p {
    margin-top: 2%;
    text-align: justify;
    text-indent: 2rem;
}

.project-title {
    background-color: rgb(56, 97, 61);
    border-radius: 15px;
    text-align: center;
    padding: 7px;
    margin: 2% auto 4%;
    width: auto;
}

.skills-used {
    display: inline;
}

.skills-used li {
    display: inline;
    padding: 10px;
    margin: 5px;
    background-color: rgb(49, 104, 66);
    border-radius: 10px;
}